ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 30px;
    padding-bottom: 35px;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 100px #c6e2ff;
    align-items: center;
    text-align: center;
}

.card > Button {
    border-radius: 10px;
    margin: 0 0 0 10px;
    align-items: center;
}

.card > img {
    width: 100%;
    height: 50%;
}

li {
    padding: 10px;
    width: 250px;
    max-width: 250px;
    max-height: 400px;
}

/*css for the emptyTag component*/
.emptyTag {
    text-align: center;
    margin-top: 25px;
}

.bookItem {
    list-style-type: none;
    font-family: "Roboto Thin", "sans-serif";
    font-size: 18px;
}